@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
  box-sizing: border-box;
}

@theme {
  --color-blue-dark: #0D1B2A;
  --color-prussian-blue: #1B263B;
  --color-dusk-blue: #415A77;
  --color-lavender-grey: #778DA9;
  --color-alabaster-grey: #E0E1DD;
  --color-delete: #CF0E0E;

  --font-notch: 'Stack Sans Notch', sans-serif;

  --breakpoint-lg: 1200px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 480px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}